<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item"><a (click)="mostrarMenu(0)">Coches</a></li>
    <li class="nav-item"><a (click)="mostrarMenu(1)">Sillas para auto</a></li>
    <li class="nav-item">
      <a (click)="mostrarMenu(2)">Desarrollo y estimulación</a>
    </li>
    <li class="nav-item"><a (click)="mostrarMenu(3)">Cunas corral</a></li>
    <li class="nav-item"><a (click)="mostrarMenu(4)">Silla comedor</a></li>
    <li class="nav-item"><a (click)="mostrarMenu(5)">Mecedoras</a></li>
    <li class="nav-item"><a (click)="mostrarMenu(6)">Porteo</a></li>
    <li class="nav-item"><a (click)="mostrarMenu(7)">Baño</a></li>
    <li class="nav-item"><a (click)="mostrarMenu(8)">Lactancia</a></li>
  </ul>
</nav>
